@import "./variables";
.about {
  .introduction {
    line-height: 2.5em;
    .hello_txt {
      background-color: $text_color;
      color: $text_color_inverse;
      font-family: $heading_font;
      padding: 5px;
      position: relative;

      &::after {
        content: "";
        position: absolute;
        width: 10px;
        height: 10px;
        left: 0;
        bottom: 0;
        transform: translateY(50%);
        z-index: -1;
        border-radius: 0 0 100%;
        background-color: $text_color;
      }
    }

    .imp_primary {
      font-weight: lighter;
      color: $primary;
    }
  }
}
