@import "./variables";
.about {
  .introduction {
    line-height: 2em;
    .hello_txt {
      background-color: $text_color;
      color: $text_color_inverse;
      font-family: $heading_font;
      padding: 5px;
      position: relative;
      transform: translateY(-100px);

      &::after {
        content: "";
        position: absolute;
        width: 10px;
        height: 10px;
        left: 0;
        bottom: 0;
        transform: translateY(50%);
        z-index: -1;
        border-radius: 0 0 100%;
        background-color: $text_color;
      }
    }

    .imp_primary {
      text-decoration: none;
      color: $secondary;
    }
  }

  .skills {
    div {
      margin: 5px 0;
      display: flex;
      align-items: center;

      .chip {
        margin: 0 0 0 5px;
        padding: 2px 5px;
        border: 1px solid #666;
        border-radius: 50px;
      }
    }
  }
}
